data/
plan.txt
submission.csv
tmp/
submission_final_fixed.csv
submission_optimized.csv
catboost_training.json
learn_error.tsv
test_error.tsv
time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/test/events.out.tfevents
submission_ultra_ensemble.csv
submission_ultra_ensemble_20250614_141442.csv
best_model.h5
solution.csv
solution_1749896733.csv
